extends layout

block content
  h1= title
  p Welcome to #{title}
  p Your hostname is #{hostname}
  p Your IP address is #{ipaddress}
  p Number of values from the database is #{numberRecords}
  p And some other value #{changeme}
